.results {
	border: 1px solid red;
	width: max-content;
}

.results ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.results ul li {
	padding: 5px 10px;
}

.results ul li:hover {
	background: lightgreen;
}