.toggle{
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 20px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.toggle::before{
    position: absolute;
    content: '';
    background-color: rgba(255, 255, 255, 0.9);
    width: 15px;
    height: 15px;
    border-radius: 200px;
    margin: 2.5px;
    transition: 0.2s;
}


#selected-unit{
    display: none;
}

/*#selected-unit:checked + .toggle{
    background-color: #20096d;
}*/

#selected-unit:checked + .toggle::before{
    transform: translateX(20px);
}


.switch-container {
/*    width: 30%;*/
/*    background-color: #fff;*/
    display: flex;
    align-items: center;
    gap: 9px;
/*    justify-content: space-between;*/
}

.switch-container > span {
/*    background-color: red;*/
margin-top: 2px;
}